@import '../../scss/colors';
@import '../../scss/animations';
.container {
  align-items: center;
  background-color: #F9F9F9;
  border-top: 1px solid #E0E1E1;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  margin-top: 1rem;
  position: fixed;
  right: 0;
  z-index: 1;
}

.item-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: calc(100% / 4);
  .link {
    align-items: center;
    cursor: initial;
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
  }
}

.link-active {
  .icon {
    fill: #2684FF;
  }
}

.link:active {
  background-color: transparent;
}

.icon {
  height: 30px;
}

.ripple {
  @include ripple-effect;
  position: relative;
  &:before {
    background-color: #CCC;
    border-radius: 50%;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: 0;
    z-index: 2;
  }

  &:not(:active):before {
    animation: ripple 250ms cubic-bezier(0, 0, 0.2, 1);
    transition: visibility 1100ms step-end;
  }

  &:active:before {
    visibility: visible;
  }
}
