@import '../../scss/colors';

.button {
  background-color: $blue;
  background-color: lighten(#196844, 1);
  background-color: #19945D;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  color: $white;
  font-size: 14px;
  font-weight: bold;
  min-height: 1.5rem;
  padding: 1rem 3rem;
  transform: translateY(100px);
}

.login-container {
  position: relative;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}
