@import '../../../../scss/colors';

.container {
  display: flex;
  justify-content: flex-end;
  order: 2;
}

.expand {
  display: flex;
  padding: 0.5rem;
  position: relative;
  transform: translateX(-50%);

  &::before {
    background-color: #0282F9;
    position: absolute;
    right: -20px;
  }
}

.lost,
.finded,
.delivered,
.remitted {
  &::before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 15px;
    width: 15px;
  }
}

.lost {
  &::before {
    background-color: $red;
  }
}

.finded {
  &::before {
    background-color: $blue;
  }
}

.delivered {
  &::before {
    background-color: $green;
  }
}

.remitted {
  &::before {
    background-color: #FF7900;
  }
}
