.footer-title {
  margin-bottom: 1rem;
  margin-left: 6rem;
}

.footer-title-2 {
  align-items: center;
  display: block;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.footer {
  bottom: 0;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
