@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

// TODO: Edit this global styles

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: bold;
}
